process {
    beforeScript = 'export PROCESS_DIR=`pwd`'
}

profiles {

    standard {
        docker.enabled = false
        singularity.enabled = true
    }

    lsf {
        process {
            executor = 'lsf'
            clusterOptions = params.lsf_opts
        }
        docker.enabled = false
        singularity.enabled = true
    }

    tower {
        docker.enabled = true
        singularity.enabled = false
    }
}

singularity {
    autoMounts = true
    runOptions = "-e --env PROCESS_DIR=\$PROCESS_DIR"
}

